 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 818px;
}

.u-section-1 .u-image-1 {
  width: 120px;
  height: 118px;
  margin: 32px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  line-height: 1.4;
  width: 860px;
  font-weight: 700;
  font-family: Besley;
  margin: 24px auto 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 0px;
  font-size: 1rem;
  line-height: 1.4;
  width: 727px;
  font-weight: 400;
  text-transform: none;
  margin: 9px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 860px;
  margin: 78px auto 18px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 291px;
}

.u-section-1 .u-container-layout-1 {
  padding: 22px 25px;
}

.u-section-1 .u-image-2 {
  width: 219px;
  height: 219px;
  background-image: url("images/beauty_16747299206392.jpg");
  background-position: 50% 50%;
  margin: 8px 0 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 291px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  font-weight: 400;
  margin: 10px 0 0;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  font-weight: 600;
  font-size: 1rem;
  margin: 32px 0 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 3px;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: normal;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 44px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: -50px;
    --animation-custom_in-opacity: 0.7;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-text-2 {
    text-transform: uppercase;
  }

  .u-section-1 .u-image-2 {
    width: 177px;
    height: 177px;
    margin-right: 7px;
  }

  .u-section-1 .u-text-3 {
    line-height: 2;
  }

  .u-section-1 .u-btn-1 {
    border-style: none;
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 765px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 720px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 244px;
  }

  .u-section-1 .u-image-2 {
    width: 180px;
    height: 180px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1240px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 8px;
    margin-right: 8px;
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 514px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    width: 451px;
    height: 451px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1250px;
  }

  .u-section-1 .u-image-1 {
    width: 104px;
    height: 102px;
    margin-top: 40px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: 340px;
    margin-top: 32px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    text-transform: none;
    margin-top: 24px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 48px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 324px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 43px;
  }

  .u-section-1 .u-image-2 {
    width: 280px;
    height: 280px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    letter-spacing: 1px;
    font-weight: 700;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 756px;
}

.u-section-2 .u-text-1 {
  font-size: 6.25rem;
  font-weight: 600;
  margin: 243px 197px 0 140px;
}

.u-section-2 .u-text-2 {
  font-size: 6.25rem;
  font-weight: 600;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -27px 197px 0 140px;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  font-weight: 400;
  margin: 24px 570px 60px 140px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 69px;
    margin-right: 69px;
    width: 803px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-text-2 {
    margin-left: 69px;
    margin-right: 69px;
    width: 803px;
    animation-duration: 2500ms;
  }

  .u-section-2 .u-text-3 {
    width: 803px;
    margin-left: 40px;
    margin-right: 69px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 720px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 110px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.75rem;
    font-weight: 700;
    width: auto;
    margin-top: 204px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.75rem;
    font-weight: 700;
    width: auto;
    margin-top: -4px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 16px;
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1084px;
}

.u-section-3 .u-text-1 {
  font-size: 2.5rem;
  font-family: Besley;
  font-weight: 600;
  width: 860px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -150px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 160px auto 0;
}

.u-section-3 .u-list-1 {
  width: 860px;
  margin: 8px auto 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
  min-height: 712px;
}

.u-section-3 .u-container-layout-1 {
  padding: 5px 0 0;
}

.u-section-3 .u-group-1 {
  min-height: 341px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-3 .u-icon-1 {
  width: 40px;
  height: 40px;
  margin: 42px 196px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 21px auto 0 0;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  transform: translateX(10px) translateY(0px) scale(1);
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 19px 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 5px 0 0;
}

.u-section-3 .u-group-2 {
  min-height: 341px;
  height: auto;
  background-size: auto;
  margin-top: 0;
  margin-bottom: 0;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
}

.u-section-3 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-3 .u-icon-2 {
  width: 40px;
  height: 40px;
  margin: 42px 196px 0 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 21px auto 0 0;
}

.u-section-3 .u-text-5 {
  font-weight: 400;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 19px 0 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 5px 0 0;
}

.u-section-3 .u-group-3 {
  min-height: 341px;
  height: auto;
  background-size: auto;
  margin-top: 0;
  margin-bottom: 0;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
}

.u-section-3 .u-container-layout-6 {
  padding: 0 30px;
}

.u-section-3 .u-icon-3 {
  width: 40px;
  height: 40px;
  margin: 42px 196px 0 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 21px auto 0 0;
}

.u-section-3 .u-text-7 {
  font-weight: 400;
  transform: translateX(10px) translateY(0px) scale(1);
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 19px 0 0;
}

.u-section-3 .u-container-layout-7 {
  padding: 5px 0 0;
}

.u-section-3 .u-group-4 {
  min-height: 341px;
  height: auto;
  background-size: auto;
  margin-top: 0;
  margin-bottom: 0;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
}

.u-section-3 .u-container-layout-8 {
  padding: 0 30px;
}

.u-section-3 .u-icon-4 {
  width: 40px;
  height: 40px;
  margin: 42px 196px 0 0;
}

.u-section-3 .u-text-8 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 21px auto 0 0;
}

.u-section-3 .u-text-9 {
  font-weight: 400;
  transform: translateX(10px) translateY(0px) scale(1);
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 19px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: 435px;
  }

  .u-section-3 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 414px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-icon-1 {
    padding: 0;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-icon-2 {
    padding: 0;
  }

  .u-section-3 .u-group-3 {
    height: auto;
  }

  .u-section-3 .u-container-layout-6 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-icon-3 {
    padding: 0;
  }

  .u-section-3 .u-group-4 {
    height: auto;
  }

  .u-section-3 .u-container-layout-8 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-icon-4 {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-icon-1 {
    margin-right: 154px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-icon-2 {
    margin-right: 154px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-icon-3 {
    margin-right: 154px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-icon-4 {
    margin-right: 154px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1608px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 84px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-list-1 {
    margin-top: 24px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 29px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 25px;
    margin-right: 280px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 29px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 25px;
    margin-right: 280px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-bottom: 29px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 25px;
    margin-right: 280px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-bottom: 29px;
  }

  .u-section-3 .u-icon-4 {
    margin-top: 25px;
    margin-right: 280px;
  }
}

.u-section-3 .u-group-1,
.u-section-3 .u-group-1:before,
.u-section-3 .u-group-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-group-1 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-group-1 {
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-group-1 {
  border-color: transparent !important;
}

.u-container-layout.hover .u-section-3 .u-group-1 {
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-text-5,
.u-section-3 .u-text-5:before,
.u-section-3 .u-text-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 404px;
}

.u-section-4 .u-text-1 {
  font-size: 1rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -150px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: normal;
  margin: 160px auto 0 140px;
}

.u-section-4 .u-text-2 {
  line-height: 1.4;
  font-size: 2.5rem;
  width: 860px;
  font-family: Besley;
  font-weight: 600;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -150px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 5px auto 0;
}

.u-section-4 .u-text-3 {
  font-weight: 400;
  width: 856px;
  margin: 16px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    width: 680px;
  }

  .u-section-4 .u-text-3 {
    width: 860px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    margin-left: 20px;
    margin-right: 20px;
    width: 720px;
  }

  .u-section-4 .u-text-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }

  .u-section-4 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 434px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 72px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    font-size: 2rem;
    margin-top: 8px;
  }

  .u-section-4 .u-text-3 {
    width: 340px;
    margin-top: 24px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1403px;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto;
  width: 914px;
  margin: 0 auto 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(50% - 8px) calc(50% - 8px);
  grid-gap: 16px 16px;
  min-height: 1250px;
}

.u-section-5 .u-list-item-1 {
  transition-duration: 0.5s;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: scale(1) translateX(10px) translateY(0px);
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-5 .u-image-1 {
  height: 225px;
  margin: 0;
}

.u-section-5 .u-text-1 {
  font-size: 2rem;
  font-weight: 500;
  margin: 24px 217px 0 0;
}

.u-section-5 .u-text-2 {
  font-weight: 400;
  margin: 8px 0 0;
}

.u-section-5 .u-text-3 {
  font-weight: 400;
  margin: 16px 0 0;
}

.u-section-5 .u-social-icons-1 {
  height: 24px;
  min-height: 16px;
  width: 104px;
  min-width: 80px;
  margin: 24px 294px 0 0;
}

.u-section-5 .u-icon-1 {
  height: 32px;
}

.u-section-5 .u-icon-2 {
  height: 32px;
}

.u-section-5 .u-icon-3 {
  height: 0;
}

.u-section-5 .u-btn-1 {
  font-size: 1rem;
  font-weight: 500;
  margin: 32px 307px 0 0;
  padding: 0;
}

.u-section-5 .u-icon-4 {
  font-size: 1.25em;
  margin-left: 8px;
}

.u-section-5 .u-list-item-2 {
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: scale(1) translateX(10px) translateY(0px);
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-5 .u-image-2 {
  height: 225px;
  margin: 0;
}

.u-section-5 .u-text-4 {
  font-size: 2rem;
  font-weight: 500;
  margin: 24px 217px 0 0;
}

.u-section-5 .u-text-5 {
  font-weight: 400;
  margin: 8px 0 0;
}

.u-section-5 .u-text-6 {
  font-weight: 400;
  margin: 16px 0 0;
}

.u-section-5 .u-social-icons-2 {
  height: 24px;
  min-height: 16px;
  width: 104px;
  min-width: 80px;
  margin: 24px 294px 0 0;
}

.u-section-5 .u-icon-5 {
  height: 32px;
}

.u-section-5 .u-icon-6 {
  height: 32px;
}

.u-section-5 .u-icon-7 {
  height: 0;
}

.u-section-5 .u-btn-2 {
  font-size: 1rem;
  font-weight: 500;
  margin: 32px 307px 0 0;
  padding: 0;
}

.u-section-5 .u-icon-8 {
  font-size: 1.25em;
  margin-left: 8px;
}

.u-section-5 .u-list-item-3 {
  transform: scale(1) translateX(10px) translateY(0px);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
}

.u-section-5 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-5 .u-image-3 {
  object-position: 50% 43.72%;
  height: 225px;
  margin: 0;
}

.u-section-5 .u-text-7 {
  font-size: 2rem;
  font-weight: 500;
  margin: 24px 217px 0 0;
}

.u-section-5 .u-text-8 {
  font-weight: 400;
  margin: 8px 0 0;
}

.u-section-5 .u-text-9 {
  font-weight: 400;
  margin: 16px 0 0;
}

.u-section-5 .u-social-icons-3 {
  height: 24px;
  min-height: 16px;
  width: 104px;
  min-width: 80px;
  margin: 24px 294px 0 0;
}

.u-section-5 .u-icon-9 {
  height: 32px;
}

.u-section-5 .u-icon-10 {
  height: 32px;
}

.u-section-5 .u-icon-11 {
  height: 0;
}

.u-section-5 .u-btn-3 {
  font-size: 1rem;
  font-weight: 500;
  margin: 32px 307px 0 0;
  padding: 0;
}

.u-section-5 .u-icon-12 {
  font-size: 1.25em;
  margin-left: 8px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 12px) calc(50% - 12px);
  }

  .u-section-5 .u-list-item-1 {
    transform: translateX(10px) translateY(0px) scale(1) rotate(0deg);
  }

  .u-section-5 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-list-item-3 {
    background-position: 50% 43.72%;
  }

  .u-section-5 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-list-1 {
    width: 720px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-image-1 {
    height: 374px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-1 {
    margin-right: 23px;
  }

  .u-section-5 .u-btn-1 {
    margin-right: 113px;
  }

  .u-section-5 .u-image-2 {
    height: 374px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-4 {
    margin-right: 23px;
  }

  .u-section-5 .u-btn-2 {
    margin-right: 113px;
  }

  .u-section-5 .u-image-3 {
    height: 374px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-7 {
    margin-right: 23px;
  }

  .u-section-5 .u-btn-3 {
    margin-right: 113px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-list-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    height: 295px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    height: 295px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
  }

  .u-section-5 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    height: 295px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-7 {
    margin-right: 0;
  }

  .u-section-5 .u-btn-3 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1783px;
  }

  .u-section-5 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 1783px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-5 .u-image-1 {
    height: 182px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-5 .u-image-2 {
    height: 182px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-5 .u-image-3 {
    height: 182px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-7 {
    font-size: 1.5rem;
  }
}

.u-section-5 .u-list-item-1,
.u-section-5 .u-list-item-1:before,
.u-section-5 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-container-layout:hover .u-list-item-1 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-5 .u-list-item-1 {
  border-color: transparent !important;
}

.u-container-layout.hover .u-section-5 .u-list-item-1 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-5 .u-list-item-1 {
  border-color: transparent !important;
}

.u-section-5 .u-list-item-2,
.u-section-5 .u-list-item-2:before,
.u-section-5 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-container-layout:hover .u-list-item-2 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-5 .u-list-item-2 {
  border-color: transparent !important;
}

.u-container-layout.hover .u-section-5 .u-list-item-2 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-5 .u-list-item-2 {
  border-color: transparent !important;
}.u-section-6 .u-sheet-1 {
  min-height: 352px;
}

.u-section-6 .u-text-1 {
  width: 860px;
  font-size: 2.5rem;
  font-weight: 600;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 120px auto 0;
}

.u-section-6 .u-text-2 {
  margin: 24px 440px 60px 140px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    line-height: 1.4;
    width: 680px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 340px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-2 {
    margin-right: 160px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    width: 540px;
    margin-top: 109px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
    margin-bottom: 48px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 292px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 60px;
    margin-left: 0;
    margin-right: 0;
    font-size: 2.25rem;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 16px;
    margin-left: 0;
    margin-bottom: 21px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 719px;
}

.u-section-7 .u-list-1 {
  grid-template-rows: auto;
  width: 917px;
  margin: 0 auto 121px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 559px;
  grid-gap: 0px 0px;
}

.u-section-7 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-7 .u-image-1 {
  height: 167px;
  margin: 20px 0 0;
}

.u-section-7 .u-text-1 {
  font-size: 2rem;
  font-weight: 600;
  margin: 20px auto 0 0;
}

.u-section-7 .u-text-2 {
  font-weight: 400;
  font-size: 0.875rem;
  margin: 10px 0 0;
}

.u-section-7 .u-text-3 {
  font-weight: normal;
  margin: 23px 0 0;
}

.u-section-7 .u-text-4 {
  font-weight: 400;
  font-size: 0.75rem;
  margin: 16px 0 0;
}

.u-section-7 .u-btn-1 {
  font-size: 1rem;
  font-weight: 500;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-7 .u-icon-1 {
  font-size: 1.25em;
  margin-left: 8px;
}

.u-section-7 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-7 .u-image-2 {
  height: 167px;
  margin: 20px 0 0;
}

.u-section-7 .u-text-5 {
  font-size: 2rem;
  font-weight: 600;
  margin: 20px auto 0 0;
}

.u-section-7 .u-text-6 {
  font-weight: 400;
  font-size: 0.875rem;
  margin: 10px 0 0;
}

.u-section-7 .u-text-7 {
  font-weight: normal;
  margin: 23px 0 0;
}

.u-section-7 .u-text-8 {
  font-weight: 400;
  font-size: 0.75rem;
  margin: 16px 0 0;
}

.u-section-7 .u-btn-2 {
  font-size: 1rem;
  font-weight: 500;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-7 .u-icon-2 {
  font-size: 1.25em;
  margin-left: 8px;
}

.u-section-7 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-7 .u-image-3 {
  height: 167px;
  margin: 20px 0 0;
}

.u-section-7 .u-text-9 {
  font-size: 2rem;
  font-weight: 600;
  margin: 20px auto 0 0;
}

.u-section-7 .u-text-10 {
  font-weight: 400;
  font-size: 0.875rem;
  margin: 10px 0 0;
}

.u-section-7 .u-text-11 {
  font-weight: normal;
  margin: 23px 0 0;
}

.u-section-7 .u-text-12 {
  font-weight: 400;
  font-size: 0.75rem;
  margin: 16px 0 0;
}

.u-section-7 .u-btn-3 {
  font-size: 1rem;
  font-weight: 500;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-7 .u-icon-3 {
  font-size: 1.25em;
  margin-left: 8px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
  }

  .u-section-7 .u-image-1 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-2 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-3 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-list-1 {
    width: 720px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 1317px;
  }

  .u-section-7 .u-image-1 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-2 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-3 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-list-1 {
    width: 540px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-2 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-3 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-list-1 {
    width: 340px;
  }

  .u-section-7 .u-repeater-1 {
    grid-gap: 48px 48px;
  }

  .u-section-7 .u-image-1 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-image-2 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-image-3 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-9 {
    font-size: 1.5rem;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 451px;
}

.u-section-8 .u-text-1 {
  font-size: 2.5rem;
  font-family: Besley;
  font-weight: 600;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -150px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 120px 205px 0;
}

.u-section-8 .u-text-2 {
  font-weight: 400;
  font-size: 1rem;
  margin: 10px 205px 0;
}

.u-section-8 .u-social-icons-1 {
  height: 60px;
  min-height: 16px;
  width: 136px;
  min-width: 48px;
  animation-timing-function: ease-in;
  margin: 32px auto 99px;
}

.u-section-8 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
  height: 32px;
}

.u-section-8 .u-icon-2 {
  color: rgb(85, 172, 238) !important;
  height: 32px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    width: 730px;
    margin-left: 105px;
    margin-right: 105px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 105px;
    margin-right: 105px;
  }

  .u-section-8 .u-social-icons-1 {
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    font-size: 2rem;
    width: 340px;
  }
}