.root {
  position: relative;
  width: 28px;
  height: 28px;
  align-items: flex-start;
  overflow: hidden;
}
.vectorStroke {
  position: absolute;
  left: 6.6964%;
  right: 19.1964%;
  top: 9.8214%;
  bottom: 9.8214%;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.vectorStroke2 {
  position: absolute;
  left: 75.4464%;
  right: 6.6964%;
  top: 53.5714%;
  bottom: 28.5714%;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
