.root {
  position: relative;
  width: 48px;
  height: 48px;
  align-items: flex-start;
  overflow: hidden;
}
.group {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 38px;
  height: 38px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
