.root {
  width: 280px;
  height: min-content;
  flex-direction: column;
  place-content: center;
  gap: 16px;
  padding: 24px;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px #0000000a;
}
.frame3366 {
  position: relative;
  height: 156px;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 12px;
  overflow: hidden;
}
.pexelsArtemBeliaikin1832323Rem {
  position: absolute;
  left: -81px;
  right: -6px;
  top: -36px;
  bottom: -51px;
  background-image:/* webpackIgnore: true */ url('/assets/pexelsArtemBeliaikin1832323Rem2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.frame3356 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  gap: 4px;
}
.pROJECT {
  color: #2d9cdb;
  font-size: 10px;
  line-height: 16px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.buildCommunity {
  color: #25282b;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.frame3357 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  gap: 4px;
}
.fLATFORM {
  color: #2d9cdb;
  font-size: 10px;
  line-height: 16px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.webMobile {
  color: #25282b;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
