.navigation.navigation {
  width: initial;
  align-self: stretch;
  background-color: initial;
}
.header.header {
  width: initial;
  align-self: stretch;
}
.rectangle2032.rectangle2032 {
  background-color: #ebf4ff;
}
.beauty_1674868241050_2Removebg.beauty_1674868241050_2Removebg {
  background-image:/* webpackIgnore: true */ url('/assets/beauty_1674868241050_2Removebg2.jpg');
}
.icon {
  width: 100%;
  height: 100%;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.logosSection.logosSection {
  background-color: initial;
}
.image210.image210 {
  background-image:/* webpackIgnore: true */ url('/assets/image2103.jpg');
}
.image212.image212 {
  background-image:/* webpackIgnore: true */ url('/assets/image2122.jpg');
}
.image2102.image2102 {
  background-image:/* webpackIgnore: true */ url('/assets/image2104.jpg');
}
.image214.image214 {
  background-image:/* webpackIgnore: true */ url('/assets/image2142.jpg');
}
.image211.image211 {
  background-image:/* webpackIgnore: true */ url('/assets/image2112.jpg');
}
.image213.image213 {
  background-image:/* webpackIgnore: true */ url('/assets/image2132.jpg');
}
.skillsSection.skillsSection {
  width: initial;
  align-self: stretch;
  background-color: initial;
}
.text {
  color: #0770e0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: Epilogue, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.latestWorkSection.latestWorkSection {
  width: initial;
  align-self: stretch;
  background-color: initial;
}
.text2 {
  color: #0770e0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: Epilogue, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.image.image.image {
  background-image:/* webpackIgnore: true */ url('/assets/image5.jpg');
}
.image2.image2.image2 {
  background-image:/* webpackIgnore: true */ url('/assets/image6.jpg');
}
.image3.image3.image3 {
  background-image:/* webpackIgnore: true */ url('/assets/image7.jpg');
}
.image4.image4.image4 {
  background-image:/* webpackIgnore: true */ url('/assets/image8.jpg');
}
.footer.footer {
  width: initial;
  align-self: stretch;
  background-color: initial;
}
.letSDiscussYourProject {
  width: 360px;
  height: min-content;
  flex-direction: column;
}
.labelWrapper {
  font-size: 32px;
  font-family: Epilogue, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label {
  color: #2d2d2d;
  font-size: 32px;
  line-height: 42px;
  font-weight: 600;
  font-family: Epilogue, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label2 {
  color: #0770e0;
  font-size: 32px;
  line-height: 42px;
  font-weight: 600;
  font-family: Epilogue, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.root {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  background-image:/* webpackIgnore: true */ url('/assets/_1440px.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
