.biLinkedin.biLinkedin {
  opacity: 0.6;
  width: 24px;
  height: 24px;
}
.group.group {
  left: 2.5px;
  top: 2.5px;
  width: 19px;
  height: 19px;
}
.group {
  left: 2.5px;
  top: 2.5px;
  width: 19px;
  height: 19px;
}
.icon {
  width: 100%;
  height: 100%;
}
.biEnvelopeFill.biEnvelopeFill {
  opacity: 0.6;
  width: 24px;
  height: 24px;
}
.group2.group2 {
  left: 1.5px;
  top: 4px;
  width: 21px;
  height: 16px;
}
.group2 {
  left: 1.5px;
  top: 4px;
  width: 21px;
  height: 16px;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.pexelsArtemBeliaikin1832323Rem.pexelsArtemBeliaikin1832323Rem {
  background-image:/* webpackIgnore: true */ url('/assets/pexelsArtemBeliaikin1832323Rem3.jpg');
}
.buildCommunity {
  color: #25282b;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.pexelsArtemBeliaikin1832323Rem2.pexelsArtemBeliaikin1832323Rem2 {
  background-image:/* webpackIgnore: true */ url('/assets/pexelsArtemBeliaikin1832323Rem4.jpg');
}
.buildCommunity2 {
  color: #25282b;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.pexelsArtemBeliaikin1832323Rem3.pexelsArtemBeliaikin1832323Rem3 {
  background-image:/* webpackIgnore: true */ url('/assets/pexelsArtemBeliaikin1832323Rem5.jpg');
}
.buildCommunity3 {
  color: #25282b;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.pexelsArtemBeliaikin1832323Rem4.pexelsArtemBeliaikin1832323Rem4 {
  background-image:/* webpackIgnore: true */ url('/assets/pexelsArtemBeliaikin1832323Rem6.jpg');
}
.buildCommunity4 {
  color: #25282b;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.webMobile {
  color: #25282b;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.root {
  position: relative;
  width: 1440px;
  height: 900px;
  place-content: center;
  align-items: center;
  gap: 120px;
  background-color: #f9f8f5;
  overflow: hidden;
}
.modernAndCreativePortfolioPres {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 235px;
  background-color: #18386b;
}
.intro {
  position: absolute;
  left: 160px;
  top: 129px;
  width: 453px;
  height: 661px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.frame3355 {
  height: min-content;
  align-self: stretch;
  align-items: center;
  gap: 24px;
}
.pexelsArtemBeliaikin1832323Rem5 {
  width: 140px;
  height: 140px;
  outline: solid 4px #fff;
  border-radius: 160px;
  background-image:/* webpackIgnore: true */ url('/assets/pexelsArtemBeliaikin1832323Rem.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
._2YearsInUIUXDesigner1YearsInGr {
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.textBlock {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock2 {
  margin-top: 8px;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.content {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  gap: 16px;
}
.title {
  color: #25282b;
  font-size: 36px;
  line-height: 120%;
  font-weight: bold;
  font-family: Playfair Display, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.subheadline {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.text {
  color: #25282b;
  font-size: 20px;
  line-height: 150%;
  font-family: Nunito, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.footerIcons {
  width: 209px;
  flex: 1;
  flex-direction: column;
  place-content: flex-end;
  gap: 16px;
}
.cONTACT {
  color: #2d9cdb;
  font-size: 10px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.03em;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.icons {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  gap: 8px;
}
.frame3367 {
  height: min-content;
  align-self: stretch;
  align-items: center;
  gap: 8px;
}
.linkedinComInNtklyn95 {
  color: #272828;
  font-size: 14px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.textBlock3 {
  display: block;
}
.frame3368 {
  height: min-content;
  align-self: stretch;
  align-items: center;
  gap: 8px;
}
.ntklyn95GmailCom {
  color: #272828;
  font-size: 14px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.textBlock4 {
  display: block;
}
.frame3362 {
  position: absolute;
  left: 778px;
  top: calc(50% - -11px);
  width: 588px;
  height: min-content;
  place-content: center;
  align-items: center;
  gap: 24px;
  transform: translateY(-50%);
}
