.text {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: Epilogue, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.text2 {
  color: #0770e0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: Epilogue, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.root {
  width: 1440px;
  height: min-content;
  flex-direction: column;
  padding: 100px 160px;
  background-color: #fff;
}
.header {
  height: min-content;
  align-self: stretch;
  align-items: center;
  gap: 64px;
}
.headlineSubhead {
  height: min-content;
  flex: 1;
  flex-direction: column;
  gap: 40px;
}
.headlineSubhead2 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.frame55 {
  position: relative;
  width: 113px;
  height: 43px;
  align-items: flex-start;
}
.welcome {
  transform-origin: top left;
  color: #0770e0;
  font-size: 20px;
  line-height: 145%;
  font-weight: 500;
  font-family: Epilogue, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 13px;
  top: 7.5px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.ellipse73 {
  position: absolute;
  left: 0;
  top: 0;
  width: 113px;
  height: 43px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.iHaveCreativeDesignExperience {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.labelWrapper {
  font-size: 56px;
  font-family: Epilogue, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label {
  color: #2d2d2d;
  font-size: 56px;
  line-height: 110%;
  font-weight: 600;
  font-family: Epilogue, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label2 {
  color: #0770e0;
  font-size: 56px;
  line-height: 110%;
  font-weight: 600;
  font-family: Epilogue, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label3 {
  color: #2d2d2d;
  font-size: 56px;
  line-height: 110%;
  font-weight: 600;
  font-family: Epilogue, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.andIMadeItMyselfInFigmaWithAni {
  color: #2d2d2d;
  font-size: 17px;
  line-height: 27px;
  font-family: Epilogue, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.frame40 {
  height: min-content;
  align-self: stretch;
  align-items: flex-start;
  gap: 16px;
}
.frame3355 {
  position: relative;
  width: 461px;
  height: 541px;
  align-items: flex-start;
}
.rectangle2032 {
  position: absolute;
  left: 41px;
  right: 0;
  top: 80px;
  bottom: 41px;
  border-radius: 2px;
  background-color: #f3f8fe;
}
.rectangle2033 {
  position: absolute;
  left: 0;
  right: 60px;
  top: 140px;
  bottom: 0;
  outline: solid 5px #0770e0;
  outline-offset: -2px;
  border-radius: 2px;
}
.beauty_1674868241050_2Removebg {
  position: absolute;
  left: 41px;
  right: 27px;
  top: 27px;
  bottom: 41px;
  background-image:/* webpackIgnore: true */ url('/assets/beauty_1674868241050_2Removebg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.frame58 {
  width: min-content;
  align-self: stretch;
  flex-direction: column;
  place-content: flex-end;
  align-items: flex-start;
  gap: 24px;
}
.followMeOn {
  color: #0770e0;
  font-size: 16px;
  line-height: 150%;
  font-family: Epilogue, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: matrix(0, 1, -1, 0, 0, 0);
}
.facebook41 {
  width: 24px;
  height: 24px;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.instagram51 {
  width: 24px;
  height: 24px;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.linkedinIcon21 {
  width: 24px;
  height: 24px;
}
.icon4 {
  width: 100%;
  height: 100%;
}
