.root {
  position: relative;
  width: 76px;
  height: 39px;
  align-items: flex-start;
}
.kLyn {
  position: absolute;
  left: 0.432px;
  top: 7.208px;
  width: 75.1324px;
  height: 32px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
