.writeSomething {
  color: #2d2d2d;
  font-size: 17px;
  line-height: 27px;
  font-family: Epilogue, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.writeSomething2 {
  color: #2d2d2d;
  font-size: 17px;
  line-height: 27px;
  font-family: Epilogue, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.writeSomething3 {
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.textBlock {
  color: #2d2d2d;
  font-size: 17px;
  line-height: 27px;
  font-family: Epilogue, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock2 {
  margin-top: 0;
  color: #2d2d2d;
  font-size: 17px;
  line-height: 27px;
  font-family: Epilogue, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock3 {
  margin-top: 0;
  color: #2d2d2d;
  font-size: 17px;
  line-height: 27px;
  font-family: Epilogue, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock4 {
  margin-top: 0;
  color: #2d2d2d;
  font-size: 17px;
  line-height: 27px;
  font-family: Epilogue, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock5 {
  margin-top: 0;
  color: #2d2d2d;
  font-size: 17px;
  line-height: 27px;
  font-family: Epilogue, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock6 {
  margin-top: 0;
  color: #2d2d2d;
  font-size: 17px;
  line-height: 27px;
  font-family: Epilogue, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock7 {
  margin-top: 0;
  color: #2d2d2d;
  font-size: 17px;
  line-height: 27px;
  font-family: Epilogue, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.text {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: Epilogue, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.root {
  width: 1440px;
  height: min-content;
  flex-direction: column;
  padding: 0 160px 70px;
  background-color: #fff;
}
.footerInfo {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  padding: 70px 0 0;
  box-shadow: inset 0px 1px 0px #0000001a;
}
.footerInfo2 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 190px;
}
.contactInfo {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
}
.footerMessage {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.frame42 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.frame59 {
  position: relative;
  width: 96px;
  height: 38px;
  align-items: flex-start;
}
.contact {
  transform-origin: top left;
  color: #0770e0;
  font-size: 20px;
  line-height: 150%;
  font-weight: 500;
  font-family: Epilogue, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 7px;
  top: 5px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.ellipse73 {
  position: absolute;
  left: 0;
  top: 0;
  width: 96px;
  height: 38px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.letSDiscussYourProject {
  width: 360px;
  height: min-content;
  flex-direction: column;
}
.labelWrapper {
  font-size: 32px;
  font-family: Epilogue, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label {
  color: #2d2d2d;
  font-size: 32px;
  line-height: 42px;
  font-weight: 600;
  font-family: Epilogue, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label2 {
  color: #0770e0;
  font-size: 32px;
  line-height: 42px;
  font-weight: 600;
  font-family: Epilogue, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.letSMakeSomethingNewDifferentA {
  color: #2d2d2d;
  font-size: 17px;
  line-height: 27px;
  font-family: Epilogue, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 360px;
  height: min-content;
  flex-direction: column;
}
.frame58 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 13px;
}
.facebook {
  width: 36px;
  height: 36px;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.nstagram {
  width: 36px;
  height: 36px;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.behance {
  width: 36px;
  height: 36px;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.textFields {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.textFields2 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
