.root {
  position: relative;
  width: 32.3556px;
  height: 28px;
  align-items: flex-start;
}
.vectorStroke2 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 31.1111%;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.vectorStroke {
  position: absolute;
  left: 16.8269%;
  right: 0;
  top: 31.1111%;
  bottom: 0;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
