.sobre {
  color: #25282b;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  font-family: Raleway, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.sobre2 {
  color: #25282b;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  font-family: Raleway, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.sobre3 {
  color: #25282b;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  font-family: Raleway, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.sobre4 {
  color: #25282b;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  font-family: Raleway, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.root {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 56px;
  align-items: center;
  padding: 12px 120px;
}
.nav {
  position: absolute;
  left: 120px;
  top: 14px;
  width: min-content;
  height: min-content;
  flex: 1;
  align-items: flex-start;
  gap: 48px;
}
